.product-card {
    width: 600px;
    min-height: 200px;
}

.product-card .descricao {
    font-size: 14px;
}

.product-card .nome {
    font-weight: bold;
}
.product-card .preco {
    font-weight: bold;
}