#root {
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
}

.container-layout {
  overflow-y: scroll;
  overflow-x: hidden;
  height: calc(100vh);
  padding-top: 20px;
  padding-bottom: 150px;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
